<%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>
        <ul class="collection with-header container" style="margin-top: 20px;">
            <li class="collection-header">
                <h4>Items</h4>
            </li>
            <%if(items.length>0){%>
                <%items.forEach(item=> {%>
                    <li class="collection-item">
                        <div><a href="/items/<%= item._id%>">
                                <%= item.name %>
                                    $<%= item.price %>
                            </a>
                        </div>
                        <a id="editbtn" class="modal-trigger" onclick="getEditId('<%=item._id%>')"
                            href="#editModal">edit</a>
                        <a href="#">delete</a>
                    </li>
                    <%});%>
                        <%}else{%>
                            <li class="collection-item">
                                <div>no item here</div>
                            </li>
                            <%}%>
        </ul>

        <!-- Modal Structure -->
        <div id="editModal" class="modal">
            <form id="editForm" action="">
                <div class="modal-content">
                    <h4>Edit Form</h4>
                    <input type="text" name="name" placeholder="item name">
                    <input type="text" name="price" placeholder="item price">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn">Update</button>
                </div>
            </form>
        </div>
        <script>
            var updateId;
            editForm.onsubmit = async function (e) {
                e.preventDefault();

                let data = new FormData(editForm);
                let response = await fetch(`items/${updateId}`, {
                    method: "PUT",
                    body: new URLSearchParams(data),
                    headers: new Headers({
                        "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                    })
                })
                let result = await response.json();
                editForm.reset();
                window.location.reload()
            }
            function getEditId(e) {
                updateId = e
            }
        </script>

        <%- include("./partials/footer.ejs") %>